* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #D3D3D3;
}
header {
    min-width: 910px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .month_container {
    width: 210px;
    text-align: center;
}
header h2 {
    font-size: 30px;
}
header button {
    background-color: #4267B2;
    color: black;
    border: 0;
    padding: 6px 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

header button:disabled {
    background-color: grey;
    cursor: default;
    opacity: 0.6;
    cursor: no-drop;
}
#month_section {
    margin: 0 auto;
    width: 910px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
#month_section li {
    width: 130px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    position: relative;
    text-align: left;
    background-color: white;
}
#month_section li span {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
#month_section li.holiday {
    background-color: rgba(212, 179, 203, 0.6);
    font-weight: bold;
}
