* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h2 {
    margin-bottom: 30px;
}

header button {
    background-color: green;
    color: black;
    border: 0;
    padding: 6px 18px;
    margin: 10px;
    cursor: pointer;
}

header button:disabled {
    background-color: grey;
    cursor: default;
    opacity: 0.6;
    cursor: no-drop;
}
#month_section li {
    margin: 5px;
    text-align: center;
}
#month_section li.holiday {
    color: red;
    font-weight: bold;
}
